/* ikiwiki local style sheet

   Copyright © 2007, 2008 Free Software Foundation, Inc.

   Permission is granted to copy, distribute and/or modify this document under
   the terms of the GNU Free Documentation License, Version 1.2 or any later
   version published by the Free Software Foundation; with no Invariant
   Sections, no Front-Cover Texts, and no Back-Cover Texts.  A copy of the
   license is included in the section entitled ``GNU Free Documentation
   License''.  */

/*
 * Someone else please work on this stuff -- someone who knows to make it
 * actually look good...  Some examples are available at
 * <http://ikiwiki.info/css_market/>.  --tschwinge
 */

/* TODO.  I'm incapable, but have ideas, so...

   (1) On web-edit pages like
   <http://www.bddebian.com/cgi-bin/wiki-ikiwiki.cgi?page=index&do=edit> I'd
   like to have the whole page fit into the web browser frame, so that no
   scrollbars show up in the browser and all of header, text editing box,
   copyright assignment notice, buttons and footer are visible at once, without
   having to scroll.  This means that the text editing box should be resized in
   height as needed (within limits, of course).  --tschwinge
*/


body
{
  font-family: "Bitstream Vera Sans", sans-serif;
  margin: 2px;
  padding: 1em;
}

p
{
  clear: left;
}

hr
{
  height: 1px;
  border-style: none;
  background-color: black;
  /* No idea, if this is ``just'' a Firefox bug (looks fine without the
   * following statement in konqueror), but it for sure inhibits the `hr's from
   * being shifted to the right.  */
  margin-left: 0px;
}

pre
{
  margin-left: 3em;
  font-weight: bold;
  padding: 0.5em;
}

/* Put these elements side by side.  */
.pagedate,
.pagecopyright,
.pagelicense
{
  display: table-cell;
  padding: 0.15em;
}
.pagecopyright p,
.pagelicense p
{
  display: inline;
}
/* But add some spacing between them.  */
.pagedate + .pagecopyright,
.pagedate + .pagelicense,
.pagecopyright + .pagelicense,
.pagecopyright + .pagedate,
.pagelicense + .pagedate
{
  padding-left: 1em;
}

.header
{
  padding: 0.5em;
  background-color: #f0f0f0;
}

.actions
{
  background-color: #f0f0f0;
}

#sidebar
{
  background-color: #f0f0f0;
}

.pagedate,
.pagecopyright,
.pagelicense
{
  background-color: #f0f0f0;
  font-size: small;
}

/* Used in `.templates/editpage.tmpl'.  */
.copyright_assignment_notice
{
  background-color: #f0f0f0;
  font-size: small;
}


/* Variable width.  */
#sidebar
{
  width: auto;
  /* ikiwiki's default for `width'.  */
  min-width: 20ex;
}

/* Less indentation for list items.  */
#sidebar ul
{
  padding-left: 2ex;
}
#sidebar ul ul
{
  padding-left: 2.5ex;
}
/* Make the logo appear centered */
#sidebar img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* News items on the front page.  */
.newsitem
{
  padding-top: 2px;
}
.newsitem + .newsitem
{
  clear: left;
}
.newsitemheader
{
  max-width: 30%;
  float: left;
  margin-right: 10px;
}
.newsitem .header,
.newsitem .author
{
  font-size: medium;
  font-style: italic;
}
.newsitem .actions
{
  font-size: small;
}
.newsitem .actions ul
{
  padding: 0;
  border-bottom: 0;
}
.newsitem .actions li
{
  display: block;
}
.newsitemcontent
{
  /* TODO.  Why is this needed to make the floating text appear on the same
     vertical height as is the item's title?  */
  margin-top: -10px;
}
.newsitemcontent p
{
  clear: none;
}


.table_style_1
{
  text-align: left;
  font-size: small;

  border-width: thin;
  border-style: solid;
  border-collapse: collapse;
  empty-cells: show;
}

.table_style_1 th
{
  vertical-align: top;

  border-width: thin;
  border-style: solid;
}

.table_style_1 td
{
  vertical-align: top;

  border-width: thin;
  border-style: dotted;
}
