/* ikiwiki local style sheet

   Copyright © 2007 Free Software Foundation, Inc.

   Permission is granted to copy, distribute and/or modify this document under
   the terms of the GNU Free Documentation License, Version 1.2 or any later
   version published by the Free Software Foundation; with no Invariant
   Sections, no Front-Cover Texts, and no Back-Cover Texts.  A copy of the
   license is included in the section entitled ``GNU Free Documentation
   License''.  */

/*
 * Someone else please work on this stuff -- someone who knows to make it
 * actually look good...  Some examples are available at
 * <http://ikiwiki.info/css_market/>.  --tschwinge
 */

/* TODO.  I'm incapable, but have ideas, so...

   (1) On web-edit pages like
   <http://www.bddebian.com/cgi-bin/wiki-ikiwiki.cgi?page=index&do=edit> I'd
   like to have the whole page fit into the web browser frame, so that no
   scrollbars show up in the browser and all of header, text editing box,
   copyright assignment notice, buttons and footer are visible at once, without
   having to scroll.  This means that the text editing box should be resized in
   height as needed (within limits, of course).  --tschwinge

   (2) `.pagecopyright' and `.pagelicense' should get the spacing between them
   removed and should get some margins.
*/



hr
{
  height: 1px;
  border-style: none;
  background-color: black;
  /* No idea, if this is ``just'' a Firefox bug (looks fine without the
   * following statement in konqueror), but it for sure inhibits the `hr's from
   * being shifted to the right.  */
  margin-left: 0px;
}

pre
{
  margin-left: 3em;
  background-color: #e5e5e5;
}

/* Only have these colored blocks be as wide as they need be.  */
pre
{
  float: left;
  padding: 0.5em;
  margin-bottom: 1.5em;
  margin-top: 0;
}
h1, h2, h3, h4, h5, h6, table, p, ol, ul, li, div, pre, hr
{
  clear: left;
}

/* Override `style.css'.  TODO.  Is this really what we want to do?  This
   avoids displaying oddities in the Debian FAQ, where the second item from the
   top would be shifted towards the bottom, because of the first item's date,
   copyright and license lines being rendered below the bottom corner of the
   sidebar.  */
.pagedate,
.pagecopyright,
.pagelicense
{
  clear: none;
}

/* Format these elements table-like with the background of the upper element
   shinig through between the cells.  TODO.  This is currently achieved with
   ``border: white''.  */
.pagedate,
.pagecopyright,
.pagelicense
{
  display: table-cell;
  border-left: solid 7px white;
  border-right: solid 7px white;
}

/* Nullify the paragraph tag following ``License:''.  */
.pagelicense p
{
  display: inline;
}

.header
{
  background-color: #f0f0f0;
}

.actions
{
  background-color: #f0f0f0;
}

#sidebar
{
  background-color: #f0f0f0;
}

.pagedate,
.pagecopyright,
.pagelicense
{
  background-color: #f0f0f0;
  font-size: small;
}

/* Used in `.templates/editpage.tmpl'.  */
.copyright_assignment_notice
{
  background-color: #f0f0f0;
  font-size: small;
}


/* Variable width.  */
#sidebar
{
  width: auto;
  /* ikiwiki's default for `width'.  */
  min-width: 20ex;
}

/* Less indentation for list items.  */
#sidebar ul
{
  padding-left: 2ex;
}
#sidebar ul ul
{
  padding-left: 2.5ex;
}
/* Make the logo appear centered */
#sidebar img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.table_style_1
{
  text-align: left;
  font-size: small;

  border-width: thin;
  border-style: solid;
  border-collapse: collapse;
  empty-cells: show;
}

.table_style_1 th
{
  vertical-align: top;

  border-width: thin;
  border-style: solid;
}

.table_style_1 td
{
  vertical-align: top;

  border-width: thin;
  border-style: dotted;
}
