/* ikiwiki local style sheet */

/* Add local styling here, instead of modifying style.css.  */

/*
 * Someone else please work on this stuff -- someone who knows to make it
 * actually look good...  Some examples are available at
 * <http://ikiwiki.info/css_market/>.  -- tschwinge
 */

pre
{
  margin-left: 1cm;
  /* 
   * I want these blocks to be as wide as they need to be for the included
   * text, but not any wider -- with respect to the `background-color'.
   * Currently it may happen that the background colors of `pre' and `#sidebar'
   * overlap.  How to do this properly? -- tschwinge
   */
  background-color: #e5e5e5;
}

.header
{
  background-color: #f0f0f0;
}

.actions
{
  background-color: #f0f0f0;
}

#sidebar
{
  background-color: #f0f0f0;
}
