<TMPL_IF NAME="PAGE_CONFLICT">
<p>
<b>Your changes conflict with other changes made to the page.</b>
</p>
<p>
Conflict markers have been inserted into the page content. Reconcile the
conflict and commit again to save your changes.
</p>
</TMPL_IF>
<TMPL_IF NAME="FAILED_SAVE">
<p>
<b>Failed to save your changes.</b>
</p>
<p>
Your changes were not able to be saved to disk. The system gave the error:
<blockquote>
<TMPL_VAR ERROR_MESSAGE>
</blockquote>
Your changes are preserved below, and you can try again to save them.
</p>
</TMPL_IF>
<TMPL_IF NAME="PAGE_GONE">
<p>
<b>The page you were editing has disappeared.</b>
</p>
<p>
Perhaps someone else has deleted it or moved it. If you want to recreate
this page with your text, click "Save Page" again.
</p>
</TMPL_IF>
<TMPL_IF NAME="CREATION_CONFLICT">
<p>
<b>While you were creating this page, someone else independently created a page
with the same name.</b>
</p>
<p>
The edit box below contains the page's current content, followed by the 
content you entered previously, to allow you to merge the two
together before saving.
</p>
</TMPL_IF>
<TMPL_VAR FORM-START>
<TMPL_VAR FIELD-DO>
<TMPL_VAR FIELD-FROM>
<TMPL_VAR FIELD-RCSINFO>
<TMPL_VAR FIELD-NEWFILE>
<TMPL_IF NAME="PAGE_SELECT">
Page location: <TMPL_VAR FIELD-PAGE>
Page type: <TMPL_VAR FIELD-TYPE>
<TMPL_ELSE>
<br />
<TMPL_VAR FIELD-PAGE>
<TMPL_VAR FIELD-TYPE>
</TMPL_IF>
<TMPL_VAR FIELD-EDITCONTENT><br />
<TMPL_IF NAME="CAN_COMMIT">
Optional comment about this change:<br />
<TMPL_VAR FIELD-COMMENTS><br />
</TMPL_IF>

<div class="copyright_assignment_notice">

<p>By contributing to this page, you agree to assign copyright for
your contribution to the Free Software Foundation.  The Free Software
Foundation promises to always use a free documentation license (as per
our criteria of free documentation) when publishing your contribution.
We grant you back all your rights under copyright, including the
rights to copy, modify, and redistribute your contributions.</p>

<p>We're requiring these copyright assignments, so that we'll easily
be able to include your contributions in official GNU documentation,
such as the GNU Hurd manual, etc.  Send email to <a
href="mailto:hurd-maintainers@gnu.org">&lt;hurd-maintainers@gnu.org&gt;</a>
if there are questions.</p>

</div>

<TMPL_VAR FORM-SUBMIT>
<TMPL_VAR HELPONFORMATTINGLINK>
<TMPL_VAR FORM-END>

<TMPL_IF NAME="PAGE_PREVIEW">
<hr />
<div class="header">
<span>Page preview:</span>
</div>
<div id="preview">
<TMPL_VAR PAGE_PREVIEW>
</div>
</TMPL_IF>
