<div class="inlinepage">

<div class="inlineheader">

<TMPL_IF NAME="AUTHOR">
<span class="author">
<TMPL_IF NAME="AUTHORURL">
<a href="<TMPL_VAR AUTHORURL>"><TMPL_VAR AUTHOR></a>
<TMPL_ELSE>
<TMPL_VAR AUTHOR>
</TMPL_IF>
</span>
</TMPL_IF>
<span class="header">
<TMPL_IF NAME="PERMALINK">
<a href="<TMPL_VAR PERMALINK>"><TMPL_VAR TITLE></a>
<TMPL_ELSE>
<a href="<TMPL_VAR PAGEURL>"><TMPL_VAR TITLE></a>
</TMPL_IF>
</span>

</div><!--.inlineheader-->

<div class="inlinecontent">
<TMPL_VAR CONTENT>
</div><!--.inlinecontent-->

<div class="inlinefooter">

<span class="pagedate">
Posted <TMPL_VAR CTIME>
</span>

<TMPL_IF NAME="TAGS">
<span class="tags">
Tags:
<TMPL_LOOP NAME="TAGS">
<TMPL_VAR LINK>
</TMPL_LOOP>
</span>
</TMPL_IF>

<TMPL_IF COPYRIGHT>
<div class="pagecopyright">
<TMPL_VAR COPYRIGHT>
</div>
</TMPL_IF>

<TMPL_IF LICENSE>
<div class="pagelicense">
License: <TMPL_VAR LICENSE>
</div>
</TMPL_IF>

<TMPL_IF NAME="HAVE_ACTIONS">
<div class="actions">
<ul>
<TMPL_IF NAME="EDITURL">
<li><a href="<TMPL_VAR EDITURL>" rel="nofollow">Edit</a></li>
</TMPL_IF>
<TMPL_IF NAME="DISCUSSIONLINK">
<li><TMPL_VAR DISCUSSIONLINK></li>
</TMPL_IF>
</ul>
</div><!--.actions-->
</TMPL_IF>

</div><!--.inlinefooter-->

</div><!--.inlinepage-->
